# Verification — ebpf-map-sizing-wiring

## Task 1

- Footprint: within_expected

- gen-cmd-1790527354990-3524719: ALTERNATIVE / build / Pass (exit 0)
- gen-cmd-1790527423408-3529991: ALTERNATIVE / test / Pass (exit 0)

## Task 2

- Footprint: within_expected

- gen-cmd-1790527712657-3550947: ALTERNATIVE / build / Pass (exit 0)
- gen-cmd-1790527775554-3555968: ALTERNATIVE / test / Pass (exit 0)

## Task 3

- Footprint: within_expected

- gen-cmd-1790527930762-3568423: ALTERNATIVE / build / Pass (exit 0)
- gen-cmd-1790527991540-3573240: ALTERNATIVE / test / Pass (exit 0)

## Task 4

- Footprint: within_expected

- gen-cmd-1790526213086-3441329: RED / test / InvalidRed (exit 8)
- gen-cmd-1790526399954-3454563: RED / test / ExpectedFailure (exit 8)
- gen-cmd-1790526625202-3471159: GREEN / test / Fail (exit 8)
- gen-cmd-1790526827377-3485819: GREEN / test / Pass (exit 0)
- gen-cmd-1790526988611-3497396: REGRESSION / test / Pass (exit 0)
- gen-cmd-1790527116574-3507201: REGRESSION / test / Pass (exit 0)
- gen-cmd-1790538707436-23821: REGRESSION / test / Pass (exit 0)

